# Virtualenvs
venv/
.venv/
env/
ENV/
.venv-ryu

# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Misc
*.log
